#root {
  margin-bottom: 100px;
}

.dimmed.dimmable > .ui.modals.dimmer.visible {
  display: flex !important;
}

.ui.modal {
  margin-top: 0px !important;
}

body {
  background-image: url('./images/yutabella.png');
  background-size: cover;
}
